
@import url('assets/fonts/Roboto-Regular.ttf');

@font-face { 
    font-family: Bangers;
    src: url('assets/fonts/Bangers-Regular.ttf');
}

@font-face { 
    font-family: Bebas Neue;
    src: url('assets/fonts/BebasNeue-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    width: 100%;
    overflow-x: hidden;
    max-width: 100vw;
    height: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.body-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
}

header {
    width: 100%;
    padding-bottom: 5vh;
}

.centered {
    width: 100%;
}

.centered > .name {
    font-family: 'Bebas Neue', 'Bangers';
    font-size: 1.25em;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.name:before,
.name:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 5px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.name:before {
  right: 0.2em;
  margin-left: -50%;
}

.name:after {
  left: 0.2em;
  margin-right: -50%;
}

header, footer {
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
}

footer {
    height: 100px;
    margin-top: auto;
}

footer > div > .centered > .media-buttons {
    margin-top: 10px;
    height: 32px;
}

.media-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: black;
}

.light > a {
    color: white;
}

.icon-block {
    width: 24px;
    height: 24px;
}

.light > .icon-block {
    color: #fff;
}

.demo-video {
    width: 100%;
}

.intro-text {
    padding-left: 20px;
    padding-right: 20px;
}

.profile-picture {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: min(15px, 2.5vw);
    float: left;
    width: min(200px, 30vw);
    height: min(200px, 30vw);
    clip-path: circle(min(100px, 15vw));
}

.profile {
    height: max(30vw, 120px);
    max-height: 200px;
    padding-right: 10px;
}

.profile::before {
    display: inline-block;
    content: '';
    shape-outside: circle(min(100px, 15vw) at calc(min(100px, 15vw) + 40px) min(100px, 15vw));
    float: left;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    margin-top: 40px;
    max-width: 100vw;
    overflow-x: hidden;
}

.patreon-wrapper {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.patreon-wrapper > img {
    width: 25vw;
    max-width: 200px;
}

.patreon-wrapper > div {
    padding-left: 20px;
    padding-top: 2vh;
}

footer {
    /* height: 10vh; */
    padding-top: 10px;
    /* padding-bottom: 10px; */
    background-color: black;
    color: white;
    font-size: 1em;
    font-weight: 300;
    width: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.centered > div {
    width: calc(34px * 5);
}

.signature {
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 0.8em;
}

.footer-email {
    text-align: center;
}

.footer-email > a {
    color: white;
}

footer i::before {
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {

}